PORT=3000
DB_HOST=localhost
DB_PORT=3308
DB_USERNAME=
DB_PASSWORD=
DB_DATABASE=clockin_db
JWT_SECRET=
JWT_EXPIRES_IN=8h
FRONTEND_URL=http://localhost:5173
SUPABASE_URL=
SUPABASE_SERVICE_KEY=
SUPABASE_BUCKET=attendance-photos
